# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=b144ee23ea495e949a780e971711f7a5
#TRUSTED_PROXIES=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
#TRUSTED_HOSTS='^(localhost|example\.com)$'
###< symfony/framework-bundle ###

MYSQL_SERVER='127.0.0.1:8889'
MYSQL_USER='root'
MYSQL_PWD='root'
MYSQL_DB='mc2'

PGSQL_SERVER='127.0.0.1'
PGSQL_PORT='5432'
PGSQL_USER='gaetan'
PGSQL_PWD='password'
PGSQL_DB='mc3'

MC3_IMPORTER_SECURITY_KEY=~
DATA_FILE_PATH=~
SLEEP_TIME=3