<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .container {
            padding: 5px 10px;
            border: 1px solid black;
            height: 200px;
            width: 600px;
            margin: auto;
        }

        section {
            padding-bottom: 10px;
            border-bottom: 1px solid grey;
        }
    </style>
    <title>MC2 to MC3 data convertor</title>

    <div class="container">
        <section>
            <h2>Initiate the project</h2>
            <button>Initialize</button>
        </section>

        <section>
            <h2>Other action</h2>
            <button>Act</button>
        </section>
    </div>

</head>
<body>

</body>
</html>